.location-detail-main {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
}
.temprature-txt-container {
    display: flex;
    align-items: flex-start;
}
.temprature-txt {
    color: #FFF;
    font-family: Inter;
    font-size: 164px;
    font-style: normal;
    font-weight: 100;
    line-height: 120%; /* 196.8px */
}
.degree-txt {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 38.4px */
    letter-spacing: -1.6px;
}
.date-txt {
    color: #FFF;
    text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.10);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}
.day-time-txt {
    color: #FFF;
    text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.10);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}
.date-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}